@model Don_GasConsumtionReport.IndexModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>IndexModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlcName" class="control-label"></label>
                <input asp-for="PlcName" class="form-control" />
                <span asp-validation-for="PlcName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IndexValue" class="control-label"></label>
                <input asp-for="IndexValue" class="form-control" />
                <span asp-validation-for="IndexValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GazValue" class="control-label"></label>
                <input asp-for="GazValue" class="form-control" />
                <span asp-validation-for="GazValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
