@{
    ViewData["Title"] = "Home Page";
}


<div id="btnStop" style="color: red">Stop Background Service</div>
<div id="btnStart" style="color: green">Start Background Service</div>


<p>
    Service is Started:  @ViewBag.ServiceIsStarted
</p>

<p>
    Valoare Incrementata: @ViewBag.Val
</p>

@section PlcService
{
    <script>

        $(document).ready(function () {
            console.log("Ruleaza Java Script");

            var btnStop = document.getElementById("btnStop");
            var btnStart = document.getElementById("btnStart");
            // Buton Stop Click event
            btnStop.addEventListener('click', function () {
                alert("s-a apasat buton stop");
                $.ajax({
                    url: " /Home/StopBackGroundServiceAsync",
                    type: 'GET',
                    success: function (response) {
                        console.log("S-a realizat Stop Async din buton");
                    },
                    error: function (response) {
                        console.log("Nu a mers btn Stop Async");
                    }

                })
            })
            // Buton Start Click event
            btnStart.addEventListener('click', function () {
                alert("s-a apasat buton start");
                $.ajax({
                    url: " /Home/StartBackGroundServiceAsync",
                    type: 'GET',
                    success: function (response) {
                        console.log("S-a realizat Start Async din buton");
                    },
                    error: function (response) {
                        console.log("Nu a mers btn Start Async");
                    }

                })
            })
        })

    </script>
}